body {
    background-color: rgb(179, 177, 177);
    margin-top: 200px;
}

.container {
    padding: auto;
    width: 300px;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 25px;
}

form {
    display: inline;
}  

input {
    padding: 4px 15p 4px 5px;
}

#button {
    display: inline-block;
    background-color: black;
    color: white
}

#button :hover {
    cursor: pointer;
    opacity: .8;
}

ul{padding-left: 20px; font-weight: bolder;}
ul li{padding: 5px; color: black; font-weight: bolder;}